*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #3684fd;
    --secondary-color: #9792e4;
    --primary-color-light: #b5ddff;
    --secondary-color-light: #cbc9f1;
    --text-color: #000;
    --white-color: #fff;
    --grey-color: #333;
    --yellow-color: #fbc15f;
}

/*regole comuni*/

.container{
    max-width: 600px;
    margin: auto;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.px-2{
    padding: 0 2rem;
}


/*header*/

header{
    width:100%;
    margin-bottom: 3rem;
    background-color: var(--primary-color);
}

header .box{
    height: 80px;
    padding: 20px;
    background-color: var(--primary-color-light);
}
/*fine header*/

/*inizio main*/

/*section-intro*/

#intro .cards{
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

#intro .card{
    margin-bottom: 1.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    


} 

.box{
    
    padding: 20px;
    background-color: var(--primary-color-light);
}

#intro .card:first-child .box{
    width: 50%;
    height: 100%;
}






/*regole di responsive*/

/*tablet 768*/


@media screen and (min-width: 768px){
    .container{
        max-width: 768px;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
    }
    
    #intro .card{
        width: calc( 33% - 1,5rem);
    }
    
    #intro .card:first-child{
        width: calc( 66% - 1,5rem);
    }
}


 
/*browser 992*/

@media screen and (min-width: 992px){
    .container{
        max-width: 992px;
    }

    #intro .card:first-child{
        display: flex;
    }

    
}
    
/*browser 1200*/

@media screen and (min-width: 1200px){
    .container{
        max-width: 1200px;
    }
}